<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>... | AwTorrentLite</title>
  <!-- Files Css & Ico -->
  <%- include('../partial/link.ejs') %>
</head>

<body class="inicio" data-script="where">
  <div class="borderwin">
    <!-- Drag -->
    <%- include('../partial/drag.ejs') %>
    <div class="body">
      <!-- Menu -->
      <%- include('../partial/menu.ejs') %>

      <!-- Contenedor -->
      <!-- Scroll -->
      <div class="scroll">
        <!-- Search Menu -->
        <%- include('../partial/search.ejs') %>
        <div class="banner">
          <div class="bgrgba-0">
            <div class="container py-3">
              <h4 class="title_game"></h4>
              <div class="setall pt-3">

                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="icono_game box-s">

                    </div>

                    <button class="btn_des_where btn_des_get">
                      <span class="btn_des_where_des"></span>
                      <span class="text_des">
                        Download
                      </span>
                    </button>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="listainfo">
                      <h5 class="listas">
                        <span class="textall">Titulo:</span> <span class="title_get"></span>
                      </h5>
                      <h5 class="listas">
                        <span class="textall">Idioma:</span> <span class="title_lj">Working</span>
                      </h5>
                      <h5 class="listas generosver">
                        <span class="textall">Genero:</span>
                      </h5>
                      <h5 class="listas">
                        <span class="textall">Peso:</span> <span class="title_peso"></span>
                      </h5>
                      <h5 class="listas">
                        <span class="textall">Release:</span> <span class="title_version"></span>
                      </h5>
                      <h5 class="listas">
                        <span class="textall">Desarrolladora:</span> <span class="title_dsrr"></span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Context -->
        <div class="container pb-5">
          <div class="row">
            <div class="col-md-8">
              <div class="py-2">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/games">Games</a></li>
                    <li class="breadcrumb-item active title_lugar" aria-current="page">Data</li>
                  </ol>
                </nav>

                <div class="datadcps">

                  <div class="sprts">
                    <h4>Descripcion</h4>
                    <div class="text_datas_all dcp_art"></div>
                  </div>

                  <div class="sprts">
                    <h4>Requisitos</h4>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
                      <div class="col">
                        <h5>Minimos</h5>
                        <div class="set_text_rq rq_min preline"></div>
                      </div>
                      <div class="col">
                        <h5>Recomendados</h5>
                        <div class="set_text_rq rq_max preline"></div>
                      </div>
                    </div>
                  </div>

                  <div class="sprts">
                    <h4>Capturas (Working)</h4>
                    <div class="text_datas_all cap_all">
                      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-md-3" id="cap">

                        <div class="col">
                          <div class="capgames"></div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="sprts">
                    <h4>Trailer</h4>
                    <div class="text_datas_all trailer_video">
                      <div class="get_video box-s">

                      </div>
                    </div>
                  </div>

                  <!-- <div class="sprts">
                    <h4>Deja tu Comentario</h4>
                    <div class="text_datas_all">
                      <div class="textall">
                        <div class="fb-comments" data-href="https://www.facebook.com/lokuedo5000#appweb" data-width="100%" data-numposts="12"></div>
                      </div>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="py-3">
                <div class="sprts">
                  <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-4 icoimguser" style="background-image: url(https://i.imgur.com/ItxEhvf.jpg);">

                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title">lokuedo5000</h5>
                          <div class="redes_user">

                            <div class="fb cog_all_ic">
                              <div class="ico_pos cwI-facebook"></div>
                            </div>

                            <div class="tw cog_all_ic">
                              <div class="ico_pos cwI-twitter"></div>
                            </div>

                            <div class="yt cog_all_ic">
                              <div class="ico_pos cwI-youtube"></div>
                            </div>

                            <div class="gh cog_all_ic">
                              <div class="ico_pos cwI-github"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sprts">
                  <div class="card" style="width: 100%;">
                    <div class="card-header">
                      Adsterra
                    </div>
                    <div class="ver_ads" style="background-image: url(https://i.imgur.com/UKyc64B.png);"></div>
                    <div class="card-body">
                      <p class="card-text">
                        Adsterra Network offers one of the widest collections of ad display formats (popunders, banners, push-ups, interstitial, etc.). The Adsterra smart advertising platform...
                      </p>
                    </div>
                  </div>
                </div>
                <div class="sprts">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Latest games</h5>
                      </div>
                    </a>
                    <div id="lastgames">
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">loading...</h5>
                          <small class="text-muted"></small>
                        </div>
                        <p class="mb-1"></p>
                        <small class="text-muted">shared by (lokuedo5000).</small>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <%- include('../partial/footer.ejs') %>
      </div>
    </div>
  </div>
  <div class="d-none">
    <div class="runtoast"></div>
    <div class="nextdes"></div>
  </div>
  <!-- Sscript Files -->
  <%- include('../partial/scriptfiles.ejs') %>

  <!-- Games -->
  <%- include('../partial/script/db.ejs') %>
  <!-- Script Games -->
  <%- include('../partial/script/games.ejs') %>
  <script src="js/where.js" charset="utf-8"></script>
  <!-- <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId: '2093571627535914',
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v10.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/es_LA/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script> -->

</body>

</html>
